* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.3rem;
    text-align: center;
    width: 300px;

}

body {
    padding: 20 0 px;
    margin-top: 10 px;
    width: 700px;
    height: 300px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}

br {
    min-height: 20px;
}

h1  {
    color:#222;
}

button, select, input {
    margin-top: 10px;
}

div {
    display: block;
    text-align: center;
    width: 700px;
}